<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>2048</title>
    <link rel="stylesheet" href="../static/css/2048/2048.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>2048</h1>
        <div id="score">Score: 0</div>
      </div>
      <div class="board"></div>
      <div class="overlay" id="overlay">
        <div class="overlay-message" id="overlay-message"></div>
        <button class="retry-button" id="retry-button">Try again</button>
      </div>
    </div>
    <script src="../static/js/2048/2048.js"></script>
  </body>
</html>