{% extends 'base1.html' %}
{% block left %}
    <div class="eleven wide column">

                <form action="" method="post" class="basic-grey">
                    <h1>给我留言</h1>
                    <label>
                        <span style="font-size: 14px;">对我说 :</span>
                        <textarea id="message" name="message" placeholder="你想对我说的" style="height: 265px;"></textarea>
                    </label>
                    {% if uname==none %}
                    <label>
                        <span>&nbsp;</span>
                        <input type="button" class="button" value="发送" onclick="al();"/>
                    </label>
                    {% endif %}
                    {% if uname!=none %}
                    <label>
                        <span>&nbsp;</span>
                        <input type="submit" class="button" value="发送" onclick="good();"/>
                    </label>
                    {% endif %}
                </form>

                <script type="text/javascript">
                    function al() {
                        alert("请先登录！")

                    }

                    function good() {
                        alert("留言成功！")
                    }


                </script>
            </div>

{% endblock %}