{% extends 'base.html' %}

{% block left %}
    <div class="ui attached segment" style="border-radius: 15px;">
        <div style="margin-top: 30px">
            <h2 class="c_titile" style="">Flash将在2020年12月31日退出历史舞台</h2>
            <p class="box_c"><span class="d_time">发布时间：2020-12-20</span>
                <span>编辑：冯靠</span>
                <span>浏览量（89）</span>
            </p>
        </div>
        <!--内容-->
        <div style="margin: 50px 30px 30px 30px">
            <p>外媒 Winfuture 报道，Adobe 的 Flash 格式迅速从动画网络故事的英雄变成了网络广告的反派，让你的 PC 速度变慢，最终成为恶意软件的载体。</p>
            <br/>
            <p>该 Flash 格式已经经历了二十年，该技术最终将在几周后退出支持，即 2020 年 12 月 31 日。</p>
            <br/>
            <p>今天 Adobe 发布了他们最后的 Flash Player 更新公告。</p>
            <br/>
            <p>2020 年 12 月 8 日 Flash 更新公告</p>
            <br/>
            <p>“今天是 Flash Player 在中国大陆以外所有地区的最终发布版本。我们想借此机会感谢所有在过去 20 年中使用和创造 Flash Player 内容的客户和开发人员。我们很自豪，我们曾经让 Flash 在创建动画、交互性、音频和视频网络内容方面发挥了关键作用，现在我们期待着帮助大家塑造下一个数字体验的时代。</p>
            <br/>
            <p>Adobe 将在 2020 年 12 月 31 日之后停止支持 Flash Player，Adobe 将从 2021 年 1 月 12 日开始阻止 Flash 内容在 Flash Player 中运行；Adobe 强烈建议所有用户立即卸载 Flash Player 以保护自己的系统。</p>
             <br/>
            <p>微软已经在发布累积更新，从 Windows 10 安装中移除 Flash，Flash Player 本身将在 2021 年 1 月 12 日前停止工作。</p>


        <div class="nextinfo" style="margin-top: 50px">
            <p>上一篇：<span><a href="">没有了</a></span></p>
            <p>下一篇：<span style="color:#333"><a href="{{ url_for('NR1') }}">Mysql 的存储引擎,myisam和innodb的区别</a></span></p>
        </div>
    </div>
  </div>

{% endblock %}