{% extends 'XC.html' %}

{% block fka %}
    <div style="height: 600px;margin-left: 50px;margin-right: 50px">
    <div id="remotetest"  style="border: 1px solid black;">
    <a href="{{url_for('static',filename='img/img1/9-8.jpg')}}" title="This is the colors I love">
        <img alt="This is the colors I love" src="{{url_for('static',filename='img/img1/9-8.jpg')}}"/>
    </a>
    <a href="{{url_for('static',filename='img/img1/9-15.jpg')}}" title="The Hope">
        <img alt="The Hope" src="{{url_for('static',filename='img/img1/9-15.jpg')}}" />
    </a>
    <a href="{{url_for('static',filename='img/img1/8-1.jpg')}}" title="Florence streets. Florence people.">
        <img alt="Florence streets. Florence people." src="{{url_for('static',filename='img/img1/8-1.jpg')}}" />
    </a>
    <a href="{{url_for('static',filename='img/img1/8-2.jpg')}}" title="I Love You">
        <img alt="I Love You" src="{{url_for('static',filename='img/img1/8-2.jpg')}}" />
    </a>
    <a href="{{url_for('static',filename='img/img1/8-3.jpg')}}" title="The painter in Florence">
        <img alt="The painter in Florence" src="{{url_for('static',filename='img/img1/8-3.jpg')}}" />
    </a>
    <a href="{{url_for('static',filename='img/img1/8-4.jpg')}}" title="Me and My Belover">
        <img alt="Me and My Belover" src="{{url_for('static',filename='img/img1/8-4.jpg')}}" />
    </a>
    <a href="{{url_for('static',filename='img/img1/8-5.jpeg')}}" title="Fiocco">
        <img alt="Fiocco" src="{{url_for('static',filename='img/img1/8-5.jpeg')}}" />
    </a>
    <a href="{{url_for('static',filename='img/img1/8-8.jpg')}}" title="My first clothespin">
        <img alt="My first clothespin" src="{{url_for('static',filename='img/img1/8-8.jpg')}}" />
    </a>
    <a href="{{url_for('static',filename='img/img1/8-10.jpg')}}" title="What's your destination?">
        <img alt="What's your destination?" src="{{url_for('static',filename='img/img1/8-10.jpg')}}" />
    </a>
    <a href="{{url_for('static',filename='img/img1/8-11.jpg')}}" title="Just in a dream Place">
        <img alt="Just in a dream Place" src="{{url_for('static',filename='img/img1/8-11.jpg')}}" />
    </a>
    <a href="{{url_for('static',filename='img/img1/8-13.jpg')}}" title="Truthful Innocence">
        <img alt="Truthful Innocence" src="{{url_for('static',filename='img/img1/8-13.jpg')}}" />
    </a>
    <a href="{{url_for('static',filename='img/img1/8-14.jpg')}}" title="Simply my Brother">
        <img alt="Simply my Brother" src="{{url_for('static',filename='img/img1/8-14.jpg')}}" />
    </a>
    <a href="{{url_for('static',filename='img/img1/8-15.jpg')}}" title="Freedom">
        <img alt="Freedom" src="{{url_for('static',filename='img/img1/8-15.jpg')}}" />
    </a>
    <a href="{{url_for('static',filename='img/img1/8-17.jpeg')}}" title="Maybe spring">
        <img alt="Maybe spring" src="{{url_for('static',filename='img/img1/8-17.jpeg')}}" />
    </a>
    <a href="{{url_for('static',filename='img/img1/8-18.jpeg')}}" title="Love">
        <img alt="Love" src="{{url_for('static',filename='img/img1/8-18.jpeg')}}" />
    </a>
    <a href="{{url_for('static',filename='img/img1/8-20.jpeg')}}" title="Young Lovers' Wall and the Old Rain">
        <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/8-20.jpeg')}}" />
    </a>
        <a href="{{url_for('static',filename='img/img1/8-21.jpg')}}" title="Young Lovers' Wall and the Old Rain">
        <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/8-21.jpg')}}" />
    </a>
        <a href="{{url_for('static',filename='img/img1/8-22.jpg')}}" title="Young Lovers' Wall and the Old Rain">
        <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/8-22.jpg')}}" />
    </a>
        <a href="{{url_for('static',filename='img/img1/8-23.jpg')}}" title="Young Lovers' Wall and the Old Rain">
        <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/8-23.jpg')}}" />
    </a>
        <a href="{{url_for('static',filename='img/img1/8-24.jpeg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/8-24.jpeg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/8-25.jpg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/8-25.jpg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/8-26.jpg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/8-26.jpg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/5-4.jpg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/5-4.jpg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/5-6.jpeg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/5-6.jpeg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/5-7.jpg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/5-7.jpg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/5-8.jpg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/5-8.jpg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/5-11.jpg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/5-11.jpg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/5-12.jpeg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/5-12.jpeg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/5-20.jpeg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/5-20.jpeg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/5-23.jpg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/5-23.jpg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/5-26.jpg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/5-26.jpg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/5-28.jpeg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/5-28.jpeg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/5-30.jpg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/5-30.jpg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/10-12.jpeg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/10-12.jpeg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/10-21.jpg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/10-21.jpg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/10-22.jpg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/10-22.jpg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/10-25.jpg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/10-25.jpg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/10-31.jpg')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/10-31.jpg')}}" />
        </a>
        <a href="{{url_for('static',filename='img/img1/')}}" title="Young Lovers' Wall and the Old Rain">
            <img alt="Young Lovers' Wall and the Old Rain" src="{{url_for('static',filename='img/img1/')}}" />
        </a>
    </div>
    </div>

{% endblock %}